# dependencies
node_modules/
.pnpm-store/

# build output
dist/
coverage/
*.tsbuildinfo

# next.js
.next/
out/
build/

# env & secrets
.env
.env.*
!.env.example

# vercel
.vercel

# supabase local
supabase/.branches
supabase/.temp

# artefacts generes
packages/model-core/src/models.registry.generated.ts

# logs & os
*.log
.DS_Store
Thumbs.db
